/bases-node/node_modules
/bases-node/*.txt

/my-tasks/node_modules

/weather-console/node_modules
/weather-console/.env

/webServer/node_modules
/webServer/.env

/RESTServer/node_modules

/RESTCoffee/node_modules
/RESTCoffee/.env

/socketiio/node_modules

